
.modal-content {
    background-color: none;
    width: 15rem; /* Defina a largura desejada */
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding-right: 2rem;
}

/* Add a style for the header element */
.header {
  text-align: center;
  margin-top: 2rem;
}


/* Style for the submit button */
/* Style for the input fields with a wider and roundier appearance */
.header input[type="text"] {
  width: 20rem;
  padding: 15px;
  margin-right: 10px;
  border: .1rem solid gray; /* Set border style, width, and color */
  border-radius: 20px;
}

.header input[type="submit"] {
  background-color: rgb(254, 0, 0);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 11rem;
}


/* Style for the submit button on hover */
.header input[type="submit"]:hover {
  background-color: darkred;
}

.star-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.star-icon.favorited {
  filter: brightness(1.5); /* Change the star icon's appearance when favorited */
}


