.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background-image {
  background-image: url('/public/background3.jpg'); /* Absolute URL from the root */
  background-size: cover; /* Make the image cover the entire container */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Keep the background fixed as the content scrolls */
  background-position: center; /* Center the background image */
  height: 100vh; /* Set the height to 100% of the viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  text-align: center;
}

.big-text {
  color: white;
  font-size: 4.2rem; /* Increase the font size as desired */
  font-weight: bold; /* Use 'bold' for a thicker font */
  text-align: center; /* Center the text horizontally */
  line-height: 1.3; /* Adjust the line height as needed to control spacing between lines */
  padding-bottom: 2rem;
}

.bold-text {
  font-weight: bold;
}

